* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#appContainer {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

#footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#headerContainer {
  display: flex;
  align-items: center;
  background-color: rgb(255, 205, 41);
  height: 100px;
  box-shadow: 0px 5px 5px rgb(223, 223, 223);
}

h1 {
  color: white;
  margin-left: 10px;
  font-size: 3rem;
}

.header-icon {
  color: white;
  font-size: 3rem;
  margin-left: 20px;
  margin-top: 5px;
}

#noteContainer {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 20px;
  padding: 20px;
  overflow-y: auto;
}

.note {
  background-color: rgb(255, 255, 255);
  width: 450px;
  min-width: 300px;
  flex: 0 1 350px;
  height: 30vh;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgb(138, 138, 138);
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.note h2 {
  margin: 10px;
}

.note p {
  margin: 10px;
  flex: 1;
}

.note button {
  justify-self: flex-end;
  align-self: flex-end;
  margin-right: 7px;
  background-color: transparent;
  border: none;
  font-size: 2rem;
}
